In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import string  
import nltk
import warnings
warnings.filterwarnings("ignore")

In [4]:
reviews_data = pd.read_excel("hotel_reviews.xlsx")
reviews_data.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...     4.0
1  ok nothing special charge diamond member hilto...     2.0
2  nice rooms not 4* experience hotel monaco seat...     3.0
3  unique, great stay, wonderful time hotel monac...     5.0
4  great stay great stay, went seahawk game aweso...     5.0

In [5]:
reviews_data.shape

(20491, 2)

In [6]:
reviews_data.columns

Index(['Review', 'Rating'], dtype='object')

In [7]:
reviews_data.isna().sum()

Review    0
Rating    0
dtype: int64

In [8]:
reviews_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  float64
dtypes: float64(1), object(1)
memory usage: 320.3+ KB

In [9]:
reviews_data['Rating'].value_counts()

5.0    9054
4.0    6039
3.0    2184
2.0    1793
1.0    1421
Name: Rating, dtype: int64

In [10]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [11]:
reviews_data['num_characters'] = reviews_data['Review'].apply(len)
# num of words
reviews_data['num_words'] = reviews_data['Review'].apply(lambda x:len(nltk.word_tokenize(x)))
reviews_data['num_sentences'] = reviews_data['Review'].apply(lambda x:len(nltk.sent_tokenize(x)))
reviews_data.head()

,Review,Rating,num_characters,num_words,num_sentences
0,nice hotel expensive parking got good deal sta...,4.0,593,98,1
1,ok nothing special charge diamond member hilto...,2.0,1689,270,1
2,nice rooms not 4* experience hotel monaco seat...,3.0,1427,236,2
3,"unique, great stay, wonderful time hotel monac...",5.0,600,102,1
4,"great stay great stay, went seahawk game aweso...",5.0,1281,224,1

#prepocessing data

In [12]:
reviews_data

,Review,Rating,num_characters,num_words,num_sentences
0,nice hotel expensive parking got good deal sta...,4.0,593,98,1
1,ok nothing special charge diamond member hilto...,2.0,1689,270,1
2,nice rooms not 4* experience hotel monaco seat...,3.0,1427,236,2
3,"unique, great stay, wonderful time hotel monac...",5.0,600,102,1
4,"great stay great stay, went seahawk game aweso...",5.0,1281,224,1
...,...,...,...,...,...
20486,"best kept secret 3rd time staying charm, not 5...",5.0,733,121,1
20487,great location price view hotel great quick pl...,4.0,306,40,1
20488,"ok just looks nice modern outside, desk staff ...",2.0,443,70,1
20489,hotel theft ruined vacation hotel opened sept ...,1.0,5557,836,1
20490,"people talking, ca n't believe excellent ratin...",2.0,620,102,1

In [14]:
reviews_data.to_csv('reviews.csv',encoding = 'utf-8',index = True)

In [15]:
review_content = pd.read_csv('reviews.csv',encoding = 'utf-8')
review_content

,Unnamed: 0,Review,Rating,num_characters,num_words,num_sentences
0,0,nice hotel expensive parking got good deal sta...,4.0,593,98,1
1,1,ok nothing special charge diamond member hilto...,2.0,1689,270,1
2,2,nice rooms not 4* experience hotel monaco seat...,3.0,1427,236,2
3,3,"unique, great stay, wonderful time hotel monac...",5.0,600,102,1
4,4,"great stay great stay, went seahawk game aweso...",5.0,1281,224,1
...,...,...,...,...,...,...
20486,20486,"best kept secret 3rd time staying charm, not 5...",5.0,733,121,1
20487,20487,great location price view hotel great quick pl...,4.0,306,40,1
20488,20488,"ok just looks nice modern outside, desk staff ...",2.0,443,70,1
20489,20489,hotel theft ruined vacation hotel opened sept ...,1.0,5557,836,1
20490,20490,"people talking, ca n't believe excellent ratin...",2.0,620,102,1

In [16]:
review_content.drop('Unnamed: 0',axis=1,inplace=True)

In [17]:
review_content.head()

,Review,Rating,num_characters,num_words,num_sentences
0,nice hotel expensive parking got good deal sta...,4.0,593,98,1
1,ok nothing special charge diamond member hilto...,2.0,1689,270,1
2,nice rooms not 4* experience hotel monaco seat...,3.0,1427,236,2
3,"unique, great stay, wonderful time hotel monac...",5.0,600,102,1
4,"great stay great stay, went seahawk game aweso...",5.0,1281,224,1

In [18]:
review_content.shape

(20491, 5)

In [19]:
# Text cleaning
import re
import string
import nltk
nltk.download('omw-1.4')
nltk.download('wordnet')
nltk.download('stopwords')
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
def preprocess(sentence):
    sentence=str(sentence)
    sentence = sentence.lower()
    sentence=sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url=re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]
    lemmatizer= WordNetLemmatizer()
    lemma_words=[lemmatizer.lemmatize(w) for w in filtered_words]
    return " ".join(lemma_words)

In [21]:
def lemmatise(sentence):
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(sentence)
    lemmatizer = WordNetLemmatizer()
    lemma_words=[lemmatizer.lemmatize(w) for w in tokens]
    return " ".join(lemma_words)

In [ ]:
review_content['cleaned_review']=review_content['Review'].apply(lambda x :preprocess(x))
review_content['cleaned_review']

In [ ]:
tokenizer = RegexpTokenizer(r'\w+')
review_content['lemmatized_content']=review_content['cleaned_review'].map(lambda x : tokenizer.tokenize(lemmatise(x)))
review_content['lemmatized_content']

In [ ]:
review_content.head()

In [ ]:
from textblob import TextBlob
import matplotlib.pyplot  as plt
import seaborn as sns

In [ ]:
review_content['sentiment']=review_content['cleaned_review'].apply(lambda x : TextBlob(x).sentiment.polarity)
review_content

In [ ]:
def assign_Result(marks):
    if marks < 0:
        result = 'negative'
    elif marks >= 0:
        result = 'positive'

    return result
review_content['review_segment']=review_content['sentiment'].apply(assign_Result)
review_content.head()

In [ ]:
tokenizer = RegexpTokenizer(r'\w+')
review_content['word_count'] = review_content['cleaned_review'].apply(lambda x: len(str(x).split()))
review_content['result_len'] = review_content['cleaned_review'].astype(str).apply(len)
review_content['result_len']

In [ ]:
words=review_content['lemmatized_content']
allwords=[]
for wordlist in words:
    allwords+=wordlist
print(allwords)
print('length of all words : ',len(allwords))

In [ ]:
from nltk.probability import FreqDist
mostcommon=FreqDist(allwords).most_common(100)
#mostcommon

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(ngram_range=(1, 3), max_features=10000, tokenizer = word_tokenize)
X = tfidf.fit_transform(corpus)
y = review_content['Sentiment']

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.20, random_state=24)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

Model Training

Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
lr_model.score(X_test, y_test)

In [ ]:
print(classification_report(y_test,lr_model.predict(X_test)))

Decision Tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt_model=DecisionTreeClassifier()
dt_model.fit(X_train,y_train)
dt_model.score(X_test,y_test)

In [ ]:
print(classification_report(y_test,dt_model.predict(X_test)))

Naive Bayes Classifier

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report

review_classifier_model=MultinomialNB()
review_classifier_model.fit(X_train,y_train)
review_classifier_model.score(X_test,y_test)

In [ ]:
print(classification_report(y_test,review_classifier_model.predict(X_test)))

Random Forest

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf_model=RandomForestClassifier()
rf_model.fit(X_train,y_train)
rf_model.score(X_test,y_test)

In [ ]:
print(classification_report(y_test,rf_model.predict(X_test)))